<!DOCTYPE html>
<html>
<head>
    <title>Calculate</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <script src="angular.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="App" ng-controller="mainCtrl">
<div class="container">
    <div class="panel panel-primary col-md-12">
        <div class="row">
            <input type="number" ng-model="calc" class="col-md-4 center-block">
        </div>
        <div class="row">
            <button class="btn btn-primary btn-lg">+</button>
            <button class="btn btn-primary btn-lg">-</button>
            <button class="btn btn-primary btn-lg">*</button>
            <button class="btn btn-primary btn-lg">/</button>
        </div>
        <div class="row">
            <input type="number" ng-model="calc2" class="col-md-4 center-block">
        </div>
        <div>{{calc + calc2}}</div>
    </div>
</div>
</body>
</html>